wheel
SciencePlots
colorama
fastKDE
lmfit
matplotlib
numpy
pandas
pyarrow
rich
scipy
seaborn
sklearn
timer
toolz
click
tensorflow
git+https://github.com/QuIN-Lab/doctool.git@0.1.4
colorednoise
hmmlearn
environs==9.5.0
